.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.toggle-btn {
  transition: all 0.3s ease;
  background-color: #374151;
}

.toggle-btn.ferdi-mode {
  background-color: #e31e24;
}

.toggle-circle {
  transition: transform 0.3s ease;
  transform: translateX(28px);
}

.toggle-btn.ferdi-mode .toggle-circle {
  transform: translateX(0);
}

.tarif-tab {
  position: relative;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.tarif-tab.active {
  color: #111827;
  border-bottom-color: #111827;
}

.card-bg-image {
  position: absolute !important;
  right: -80px !important;
  top: 0 !important;
  width: 65% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: right center !important;
  filter: grayscale(1) brightness(10) !important;
  z-index: 0 !important;
  pointer-events: none !important;
}

.swiper-container {
  overflow: hidden !important;
  position: relative;
  width: 100%;
}

.swiper-wrapper {
  align-items: stretch;
  user-select: none;
}
.swiper-slide {
  height: auto;
  display: flex;
}

.swiper-slide > div {
  width: 100%;
}

.swiper-container-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-left: 52px;
  padding-right: 52px;
}
.tarif-swiper,
.swiper-container {
  width: 100%;
  overflow: hidden;
}

.side-overlay {
  position: absolute;
  top: 0;
  bottom: 48px;
  width: 69px;
  background-color: #000;
  opacity: 0.4;
  z-index: 10;
  pointer-events: none;
  backdrop-filter: grayscale(0.6) brightness(0.9);
  transition: opacity 0.3s;
}
.left-overlay {
  left: 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.right-overlay {
  right: 24px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media (max-width: 1282px) {
  .side-overlay {
    display: none !important;
  }
}

.swiper-container-wrapper .swiper-button-next,
.swiper-container-wrapper .swiper-button-prev {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  margin: -25px !important;
  z-index: 20;
  color: #374151 !important;
  font-size: x-large !important;
  transition: all 0.2s !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
}

.swiper-container-wrapper .swiper-button-next::after,
.swiper-container-wrapper .swiper-button-prev::after {
  display: none;
}

.swiper-container-wrapper .swiper-button-prev {
  left: -4px;
}

.swiper-container-wrapper .swiper-button-next {
  right: -4px;
}

@media (min-width: 768px) {
  .swiper-container-wrapper .swiper-button-prev {
    left: 1rem;
  }
  .swiper-container-wrapper .swiper-button-next {
    right: 1rem;
  }
}

.swiper-container-wrapper .swiper-button-next:after,
.swiper-container-wrapper .swiper-button-prev:after {
  display: none;
}

.swiper-container-wrapper .swiper-button-disabled {
  opacity: 0.35;
}

@media (max-width: 768px) {
  .swiper-container-wrapper .swiper-button-next,
  .swiper-container-wrapper .swiper-button-prev {
    display: none;
  }
}

body {
  overflow-x: hidden;
}
